# nn-UNet Prostate data files, trained models and Prostate outputs

nn-UNet/Results
nn-UNet/nnUNet_raw_data_base/nnUNet_raw_data/Task005_Prostate
nn-UNet/outputs/Task05_Prostate
nn-UNet/nnUNet_trained_models

